.logo {
    width: 200px;
}

.logo-menu {
    width: 50px;
}

.top5 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}

.errorCode {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.label {
    font-size: 16px !important;
}

.reportCheckbox {
    display: flex;
    margin: 10px;
}

.checkbox-wrapper {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkbox {
    margin-bottom: 10px;
}

.dt-input {
    padding-right: 30px !important;
    margin-right: 10px !important;
}

/* Footer staying at the bottom of the page */
main, .login-panel {
    min-height: 90vh !important;
    margin: 0 !important;
    display: flex !important;
    flex-direction: column !important;
    flex: 1 !important;
}

footer {
    min-height: 40px !important;
}

.footer-text {
    text-align: center;
}

.alert-success {
    text-align: center;
}

.alert-danger {
    text-align: center;
}

@media screen and (max-width: 640px) {
    .view-reports {
        overflow: auto !important;
        display: inline-block !important;
    }

    .view-reports-padding {
        padding: 0px !important;
    }

    .new-report {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    p {
        margin: 10px !important;
    }

    .checkbox-wrapper {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 992px) {
    .create-report {
        width: 700px !important;
    }
}