.logo {
    width: 200px;
}

.logo-menu {
    width: 50px;
}

.top5 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}


@media screen and (max-width: 640px) {
    .view-reports {
        overflow: auto !important;
        display: inline-block !important;
    }

    .view-reports-padding {
        padding: 0px !important;
    }
}

@media screen and (min-width: 992px) {
    .create-report {
        width: 700px !important;
    }
}