@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
    width: 200px;
}

.logo-menu {
    width: 50px;
}

.create-report {
    margin-top: 50px !important;
    width: 400px;
    display: block;
    margin: auto;
}

.view-reports {
    padding: 0px;
    margin-top: 30px;
}

@media screen and (max-width: 640px) {
    .view-reports {
        overflow: auto;
        display: inline-block;
    }
}